.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 20px;
  /* width: 600px; */
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -250px;
  background-color: bisque;
  border: 8px solid burlywood;
  border-radius: 8%;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
  border: 5px solid #000;
}

.player_0 {
  background-color: #fff;
}

.player_1{
    background-color: red;
}

.player_2{
    background-color: blue;
}